name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'

      - name: Set Up Server Tests
        run: cd server && npm install
      - name: Run Server Tests
        run: cd server && npm test

      - name: Set Up Client Tests
        run: cd client && npm install
      - name: Run Client Tests
        run: cd client && npm test
